RingtailDatabaseUtility|INSTALL| "RingtailSQLComponent(x64).exe" /v"IS_SQLSERVER_SERVER=123.45.67.890\SQL2005,100" /v"IS_SQLSERVER_USERNAME=user" /v"WEBUSER=webuser" /v"IS_SQLSERVER_PASSWORD=pwd" /S /v/qn /debuglog"i-RingtailSqlComponents.log"
NativeFileServiceSetup|INSTALL|"C:\Program Files\FTI Technology\Native File Service\Bootstrap\Setup.exe" /intstall -serviceuser:"SERVICEUSERNAME" -servicepassword:"#HSd3v!" -fileserver:"" -nativefileserviceservers:"123.45.67.890"