RingtailDatabaseUtility|INSTALL|"RingtailSQLComponent(x64).exe" /v"IS_SQLSERVER_SERVER=123.45.67.890\SQL2005,100" /v"IS_SQLSERVER_USERNAME=user" /v"WEBUSER=webuser" /v"IS_SQLSERVER_PASSWORD=pwd" /S /v/qn /debuglog"i-RingtailSqlComponents.log"
NativeFileServiceSetup|INSTALL|"C:\Program Files\FTI Technology\Native File Service\Bootstrap\Setup.exe" /intstall -serviceuser:"SERVICEUSERNAME" -servicepassword:"#HSd3v!" -fileserver:"" -nativefileserviceservers:"123.45.67.890"
Ringtail-Svc-ContentSearch|INSTALL|powershell.exe -ExecutionPolicy Bypass -File .\Ringtail-Svc-ContentSearch\Ringtail-Svc-ContentSearch.ps1 -ZipFile C:\Upgrade\AutoDeploy\Ringtail-Svc-ContentSearch\Ringtail-Svc-ContentSearch.zip --Username CONTENT_SEARCH_USERNAME --Password CONTENT_SEARCH_PASSWORD
Ringtail8|INSTALL| "Ringtail.exe" /v"ADDLOCAL=All" /v"IS_SQLSERVER_SERVER=123.45.678.90\SQL2005,100" /v"IS_SQLSERVER_USERNAME=user" /v"IS_SQLSERVER_PASSWORD=password" /v"IS_SQLSERVER_DATABASE=portal" /v"RINGTAILIISWEBAPPLICATIONNAME="""Default Web Site/Ringtail"""" /v"CERT="""Default Web Site/Ringtail""""