RoleResolver.exe~RoleResolver|-r ROLE
DatabaseUpgrader.exe~DatabaseUpgrader|DATACAMEL_ACTION|-u IS_SQLSERVER_USERNAME|-p IS_SQLSERVER_PASSWORD|-d DATACAMEL_DATABASES
InstallFetcher.exe|-f BUILD_FOLDER_ROOT|-b BRANCH_NAME|-o Everything
InstallFetcher.exe~RingtailLegalApplicationServer|-f BUILD_FOLDER_ROOT|-b BRANCH_NAME|-o RingtailLegalApplicationServer
UninstallerHelper.exe *
UninstallerHelper.exe * uninstall-rpfcoordinator.bat ~RingtailProcessingFramework|UNINSTALL_EXCLUSIONS
GenericInstaller.exe Ringtail8
GenericInstaller.exe RingtailConfigurator
GenericInstaller.exe RingtailDatabaseUtility
GenericInstaller.exe RingtailLegalApplicationServer
GenericInstaller.exe RingtailLegalAgentServer
GenericInstaller.exe RingtailProcessingFramework
GenericInstaller.exe RingtailProcessingFrameworkWorkers
ConfiguratorHelper.exe~RingtailConfigurator|--host HOST|--ntDomain NT_DOMAIN|--ntUser NT_USER|--ntPassword NT_PASSWORD|--dbserver IS_SQLSERVER_SERVER|--dbsauser IS_SQLSERVER_USERNAME|--dbsapassword IS_SQLSERVER_PASSWORD|--dbname IS_SQLSERVER_DATABASE|--dbusername CONFIG_USERNAME|--dbuserpassword CONFIG_PASSWORD
Composer.exe master.config