|ALWAYS
@echo You have the latest version as of 12/29/2014 at 9:30 AM (EST)
clean.bat
|ALWAYS
fetch-Everything.bat
|Fetch-RingtailLegalApplicationServer
fetch-RingtailLegalApplicationServer.bat
|Fetch-RingtailDatabaseUtility
fetch-RingtailDatabaseUtility.bat
fetch-RingtailSQL.bat
|Fetch-RingtailProcessingFramework
fetch-RingtailProcessingFramework.bat
|ALWAYS
InstallNameTruncator.exe /r
|Ringtail8
iisreset.exe
|RingtailLegalApplicationServer
iisreset.exe
|Uninstall_ALL
uninstall.bat
|Uninstall_RpfCoordinator
uninstaller-rpfcoordinator.bat
|CUSTOM_UNINSTALL
uninstallRingtail.bat
|RingtailDatabaseUtility
install-RingtailDatabaseUtility.bat
dbUp.bat
|ALWAYS
|RingtailConfigurator
install-RingtailConfigurator.bat
|Ringtail8
install-Ringtail8.bat
|RingtailLegalApplicationServer
install-RingtailLegalApplicationServer.bat
|RingtailLegalAgentServer
install-RingtailLegalAgentServer.bat
|RingtailProcessingFramework
install-RingtailProcessingFramework.bat
|RingtailProcessingFrameworkWorkers
install-RingtailProcessingFrameworkWorkers.bat
|Deployer
iisreset.exe
|RingtailLegalApplicationServer
runConfigurator-Classic.bat
|RingtailLegalAgentServer
runConfigurator-Agent.bat
iisreset.exe
|Deployer
Deployer.exe
|ALWAYS
@echo UPGRADE COMPLETE : %time%