DEV-FULL|RingtailDatabaseUtility
DEV-FULL|RingtailLegalApplicationServer
DEV-FULL|RingtailLegalAgentServer
DEV-FULL|RingtailProcessingFramework
DEV-FULL|RingtailProcessingFrameworkWorkers
DEV-FULL|Deployer
DEV-FULL|DataCamel
DEV-FULL|Fetch-RingtailDatabaseUtility
DEV-FULL|Fetch-RingtailLegalApplicationServer
DEV-FULL|Fetch-RingtailLegalAgentServer
DEV-FULL|Fetch-RingtailProcessingFramework
DEV-FULL|Uninstall_ALL

WEB|RingtailLegalApplicationServer
WEB|RingtailConfigurator
WEB|Ringtail8
WEB|Deployer
WEB|Uninstall_ALL

AGENT|RingtailConfigurator
AGENT|RingtailLegalAgentServer
AGENT|Uninstall_ALL

WEBAGENT:WEB
WEBAGENT:AGENT

RPF-SUPERVISOR|RingtailProcessingFramework
RPF-SUPERVISOR|Deployer
RPF-SUPERVISOR|Uninstall_ALL

RPF-COORDINATOR|RingtailProcessingFramework
RPF-COORDINATOR|RingtailProcessingFrameworkWorkers
RPF-COORDINATOR|Deployer
RPF-COORDINATOR|Uninstall_RpfCoordinator

DATABASE|RingtailDatabaseUtility
DATABASE|Uninstall_ALL
DATABASE|DataCamel


SKYTAP-ALLINONE|RingtailDatabaseUtility
SKYTAP-ALLINONE|RingtailLegalApplicationServer
SKYTAP-ALLINONE|RingtailLegalAgentServer
SKYTAP-ALLINONE|RingtailProcessingFramework
SKYTAP-ALLINONE|RingtailProcessingFrameworkWorkers
SKYTAP-ALLINONE|Uninstall_ALL
SKYTAP-ALLINONE|Ringtail8
SKYTAP-ALLINONE|RingtailConfigurator
SKYTAP-ALLINONE|Deployer
SKYTAP-ALLINONE|DataCamel

SKYTAP-WEB:WEB

SKYTAP-AGENT:AGENT

SKYTAP-WEBAGENT:WEB
SKYTAP-WEBAGENT:AGENT

SKYTAP-DB:DATABASE

SKYTAP-RPF-SUPERVISOR:RPF-SUPERVISOR

SKYTAP-RPF-COORDINATOR:RPF-COORDINATOR

SUPER:DATABASE
SUPER:WEB
SUPER:RPF
SUPER:AGENT
SUPER:SKYTAP-ALLINONE