Common|BRANCH_NAME="CONSOLIDATION"
Common|IS_SQLSERVER_USERNAME="sa"
Common|IS_SQLSERVER_PASSWORD="DevSql01"
Common|IS_SQLSERVER_SERVER="allinone"
Common|IS_SQLSERVER_DATABASE="ringtail"
Common|BUILD_FOLDER_ROOT="\\10.0.0.254\shared\Builds"
Common|BUILD_FOLDER_SUFFIX=" "

RoleResolver|ROLE="SKYTAP-ALLINONE"
DatabaseUpgrader|DATACAMEL_ACTION="upgradePortal"
DatabaseUpgrader|DATACAMEL_DATABASES="ringtail"


Ringtail8|SSLUSAGEPROPERTY="false"

RingtailLegalApplicationServer|IS_SQLSERVER_DATABASE="ringtail"

Common|RINGTAILUISTATICCONTENTURL="http://allinone/UIStatic"
Common|RINGTAILSTSURL="http://allinone/RingtailSTS"
Common|RINGTAILIISWEBAPPLICATIONURL="http://allinone/Ringtail"
Common|RINGTAILHELPURL="http://allinone/RingtailHelp"
Common|RINGTAILCLASSICURL="http://allinone/Classic"
Common|RINGTAILLEGALURL="http://allinone/Classic"
Common|LEGALPATH="classic"
Common|RMCIISWEBAPPLICATIONURL="http://allinone/RMC"
Common|RINGTAILSTSCERTIFICATETHUMBPRINT=""""2c 3f 36 e4 cc b3 24 82 d9 66 11 69 1e e7 2a 5a 2c 0e c4 30""""
Common|RPFWORKERPATH="\\allinone\RPF_Workers"
Common|HOST="allinone"

RingtailConfigurator|NT_DOMAIN="lm"
RingtailConfigurator|NT_USER="HSimpson"
RingtailConfigurator|NT_PASSWORD="#HSd3v!"
RingtailConfigurator|CONFIG_USERNAME="webuser"
RingtailConfigurator|CONFIG_PASSWORD="1234567?"

RingtailProcessingFramework|IS_SQLSERVER_DATABASE="RPF"
RingtailProcessingFramework|SERVICEUSERNAME="LM\#rpfdev_account"
RingtailProcessingFramework|SERVICEPASSWORD="RPFd3v!"
RingtailProcessingFramework|RT_COORDINATOR_URL="http://allinone/Coordinator/"
