C:\Program Files\FTI Technology\Ringtail\Ringtail.Web.Licensing_Package\Deploy.Ringtail.Web.Licensing.cmd
C:\Program Files\FTI Technology\Ringtail\RingtailSTS_Package\Deploy.Ringtail.STS.cmd
C:\Program Files\FTI Technology\Ringtail\Ringtail.Web.UIStatic_Package\Deploy.Ringtail.UIStatic.cmd
C:\Program Files\FTI Technology\Ringtail\Ringtail.Web_Package\Deploy.Ringtail.cmd
C:\Program Files\FTI Technology\Ringtail\Ringtail.Legal.Web_Package\Deploy.Ringtail.Web.cmd
C:\Program Files\FTI Technology\Ringtail Processing Framework\Deployment Packages\RPF Coordinator Package\Deploy.Ringtail.ProcessFramework.Coordinator.cmd
C:\Program Files\FTI Technology\Ringtail Help\Ringtail.Help_Package\Deploy.Ringtail.Help.cmd